@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--blue-500);
}

.container {
  width: 450px;
  background: var(--white);
  padding: 30px 30px 50px;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.1);
}
.container header {
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.container header img {
  width: 96%;
}
.url-input {
  margin: 30px 0;
}
.url-input .title {
  font-size: 18px;
  color: var(--blue-500);
}
.url-input .field {
  margin-top: 5px;
  height: 50px;
  width: 100%;
  position: relative;
}
.url-input .field input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  background: var(--gray-200);
  border-bottom: 2px solid var(--gray-300);
  font-family: "Noto Sans", sans-serif;
  color: var(--gray-800);
}

.url-input .field input::placeholder {
  color: var(--gray-400);
}

.url-input .field .bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--blue-500);
  transform: scale(0);
  transition: transform 0.3s ease;
}

.url-input .field input:focus ~ .bottom-line,
.url-input .field input:valid ~ .bottom-line {
  transform: scale(1);
}
.preview-area {
  border-radius: 5px;
  height: 220px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed var(--blue-300);
}
.preview-area.active {
  border: none;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -4px -4px 16px rgba(0, 0, 0, 0.2);
}

.preview-area .thumbnail {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 5px;
}
.preview-area.active .thumbnail,
.container .details.active {
  display: block;
}
.preview-area.active .icon,
.preview-area.active span {
  display: none;
}
.preview-area .icon {
  color: var(--blue-300);
  font-size: 80px;
}
.preview-area span {
  color: var(--blue-300);
  margin-top: 25px;
}

.details {
  display: none;
}
.details .description {
  display: block;
  overflow: hidden;
  max-height: 100px;
  text-overflow: ellipsis;
  white-space: normal;
  color: var(--gray-400);
  text-align: justify;
  margin-top: 1rem;
}

.details ul h3 {
  font-size: 1.2rem;
  color: var(--blue-500);
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
}

.details ul h3 i {
  margin-right: 1rem;
}

.details ul li {
  margin: 0.75rem 0;
  border-radius: 3px;
  border: 1px solid transparent;
  border-bottom: 1px dashed var(--gray-400);
  transition: all 0.3s;
  list-style: none;
}

.details ul li div {
  width: 100%;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--blue-300);
  cursor: pointer;
}

.details ul:hover li {
  border: 1px solid transparent;
}

.details ul li:hover {
  border: 1px dashed var(--blue-300);
}

.details ul li i {
  display: flex;
  align-items: center;
}

.details ul span {
  min-width: 60px;
  text-align: center;
}

.feedback {
  font-size: 14px;
  color: #7c1616;
  margin-top: 0.5rem;
  display: none;
}

.download-link {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-decoration: none;
  color: var(--gray-200);
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #1f2b6e, #6d3aa6);
  transition: background 0.5s ease;
}

.download-link:hover {
  background: linear-gradient(90deg, #2b3a8c, #9b51e0);
}
